@font-face {
	font-family: 'Aileron';
	src: url('../fonts/Aileron-Regular.eot');
	src: local('☺'), url('../fonts/Aileron-Regular.woff') format('woff'), url('../fonts/Aileron-Regular.ttf') format('truetype'), url('../fonts/Aileron-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aileron';
	src: url('../fonts/Aileron-Bold.eot');
	src: local('☺'), url('../fonts/Aileron-Bold.woff') format('woff'), url('../fonts/Aileron-Bold.ttf') format('truetype'), url('../fonts/Aileron-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}