// Подключение обнуляющих стилей
@import 'nullstyle';

// Подключение шрифтов
@import 'fonts';


// Имена шрифтов
$caladea: 'Caladea', serif;
$aileron: 'Aileron', sans-serif;

// Цвета
$primary-red: #d63c37;
$primary-gray: #666;
$secondary-gray: #333;

html, body {
	font-family: $aileron;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1200px;
	padding: 0 25px;
	margin: 0 auto;
}

.header {
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 160px;
	padding: 70px 0;
	transition: all 0.3s ease;

	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, 0.9);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;

		&._active {
			opacity: 1;
			visibility: visible;
		}

		@media (max-width: 767px) {
			padding: 60px 0;
			flex-direction: column;
			justify-content: space-between;
			height: 100vh;
		}
	}

	&__link {
		color: $primary-gray;
		margin: 0 20px;
		&:hover {
			color: $primary-red;
		}

		@media (max-width: 767px) {
			font-size: 22px;
		}
	}

	&__burger {
		position: absolute;
		top: 65px;
		right: 65px;
		width: 30px;
		height: 30px;
		cursor: pointer;
		z-index: 3;

		& span {
			display: block;
			width: 30px;
			height: 6px;
			background-color: $secondary-gray;
			margin-bottom: 6px;
			transition: all 0.3s ease;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&._active {
			transition: all 0.3s ease;
			& span {
				background-color: $primary-red;
			}
		}

		@media (max-width: 992px) {
			top: 35px;
			right: 35px;
		}
	}

	&__socials {
		position: absolute;
		top: 125px;
		right: 65px;
		width: 30px;
		z-index: 2;
		transition: 0.3s ease;

		&._active {
			padding-top: 50px;
		}
		@media (max-width: 1341px) {
			opacity: 0;
			visibility: hidden;
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 992px) {
			right: 35px;
		}
		@media (max-width: 767px) {
			right: 35px;
			&._active {
				padding-top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.socials {

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;

		& li {
			font-size: 18px;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link {
		color: #808080;
	}
}

.main {

	background: url('../img/main-bg.jpg') center / cover no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__box {
		text-align: center;
	}

	&__title {
		margin-bottom: 44px;
		@media (max-width: 767px) {
			margin-bottom: 28px;
		}
	}

	&__text {
		// color: $primary-gray;
		// font-size: 18px;
		// font-weight: 400;
		// line-height: 36px;
		// letter-spacing: 0.45px;

		// @media (max-width: 767px) {
		// 	font-size: 14px;
		// 	line-height: 24px;
		// }
	}
}

.introduce {

	background-color: #f6f6f6;
	padding-top: 100px;
	min-height: 100vh;

	&__box {
		display: flex;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
		}
	}

	&__left-column {
		flex: 0 0 45%;
		display: flex;
		flex-direction: column;
		@media (max-width: 992px) {
			flex-basis: 100%;
		}
	}

	&__empty {
		height: 205px;
		@media (max-width: 1341px) {
			height: 105px;
		}
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__pic {
		// flex-grow: 1;
		// position: relative;
		// overflow: hidden;
		width: 100%;
		height: 100%;
		// height: calc(100vh - 305px);
		
		& img {
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 992px) {
			flex: 0 0 100%;
			// padding-bottom: 100%;
		}
	}

	&__right-column {
		flex: 0 0 50%;
		@media (max-width: 992px) {
			flex-basis: 100%;
		}
	}

	&__title {
		margin-bottom: 50px;
		@media (max-width: 992px) {
			text-align: center;
		}
	}

	&__text {
		padding-left: 130px;
		margin-bottom: 50px;
		@media (max-width: 992px) {
			padding: 0 30px;
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			margin-bottom: 25px;
		}
	}

	&__up-red {
		padding-left: 130px;
		@media (max-width: 992px) {
			padding: 0 30px;
		}
	}
}

.discover {

	background-color: $primary-red;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__box {
	}

	&__title {
		text-align: right;
		margin-bottom: 90px;
	}

	&__subbox {
		display: flex;
	}

	&__column {
	}

	&__item {
		display: flex;
	}

	&__text {
		color: $secondary-gray;
		font-size: 18px;
		text-align: right;
	}

	&__head {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.6px;
		margin-bottom: 30px;
	}

	&__body {
		font-weight: 400;
		letter-spacing: 0.45px;
		line-height: 36px;
	}

	&__pic {
		width: 100px;

		& img {
			width: 100%;
			background-color: #fff;
			border-radius: 50%;
		}

		&_fill {
			
		}

		&_empty {
		}
	}
}

.title {

	font-family: $caladea;
	color: $secondary-gray;
	font-size: 36px;

	&_big {
		font-size: 48px;
		font-weight: 700;
		@media (max-width: 1400px) {
			font-size: 38px;
		}
		@media (max-width: 767px) {
			font-size: 30px;
		}
	}

	&_red {
		color: $primary-red;
	}

	&_white {
		color: #fff;
	}

	&_underline {
		text-decoration: underline;
	}
}

.text {
	color: $primary-gray;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.45px;
	
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 24px;
	}

	&_red {
		color: $primary-red;
	}
}

