@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Regular.eot");
  src: local("☺"), url("../fonts/Aileron-Regular.woff") format("woff"), url("../fonts/Aileron-Regular.ttf") format("truetype"), url("../fonts/Aileron-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Bold.eot");
  src: local("☺"), url("../fonts/Aileron-Bold.woff") format("woff"), url("../fonts/Aileron-Bold.ttf") format("truetype"), url("../fonts/Aileron-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: "Aileron", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  padding: 70px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu._active {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  visibility: 1;
}

.header__link {
  color: #666;
  margin: 0 20px;
}

.header__link:hover {
  color: #d63c37;
}

.header__burger {
  position: absolute;
  top: 65px;
  right: 65px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__burger span {
  display: block;
  width: 30px;
  height: 6px;
  background-color: #333;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger span:last-child {
  margin-bottom: 0;
}

.header__burger._active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger._active span {
  background-color: #d63c37;
}

@media (max-width: 992px) {
  .header__burger {
    top: 35px;
    right: 35px;
  }
}

.header__socials {
  position: absolute;
  top: 125px;
  right: 65px;
  width: 30px;
}

@media (max-width: 1201px) {
  .header__socials {
    opacity: 0;
    visibility: 0;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__list li {
  font-size: 18px;
  margin-bottom: 20px;
}

.socials__list li:last-child {
  margin-bottom: 0;
}

.socials__link {
  color: #808080;
}

.main {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__box {
  text-align: center;
}

.main__title {
  margin-bottom: 44px;
}

@media (max-width: 767px) {
  .main__title {
    margin-bottom: 28px;
  }
}

.main__text {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.45px;
}

@media (max-width: 767px) {
  .main__text {
    font-size: 14px;
    line-height: 24px;
  }
}

.title {
  font-family: "Caladea", serif;
  color: #333;
}

.title_big {
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .title_big {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .title_big {
    font-size: 30px;
  }
}

.title_red {
  color: #d63c37;
}
