@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Regular.eot");
  src: local("☺"), url("../fonts/Aileron-Regular.woff") format("woff"), url("../fonts/Aileron-Regular.ttf") format("truetype"), url("../fonts/Aileron-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("../fonts/Aileron-Bold.eot");
  src: local("☺"), url("../fonts/Aileron-Bold.woff") format("woff"), url("../fonts/Aileron-Bold.ttf") format("truetype"), url("../fonts/Aileron-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: "Aileron", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  padding: 70px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu._active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .header__menu {
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
  }
}

.header__link {
  color: #666;
  margin: 0 20px;
}

.header__link:hover {
  color: #d63c37;
}

@media (max-width: 767px) {
  .header__link {
    font-size: 22px;
  }
}

.header__burger {
  position: absolute;
  top: 65px;
  right: 65px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}

.header__burger span {
  display: block;
  width: 30px;
  height: 6px;
  background-color: #333;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger span:last-child {
  margin-bottom: 0;
}

.header__burger._active {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger._active span {
  background-color: #d63c37;
}

@media (max-width: 992px) {
  .header__burger {
    top: 35px;
    right: 35px;
  }
}

.header__socials {
  position: absolute;
  top: 125px;
  right: 65px;
  width: 30px;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__socials._active {
  padding-top: 50px;
}

@media (max-width: 1341px) {
  .header__socials {
    opacity: 0;
    visibility: hidden;
  }
  .header__socials._active {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 992px) {
  .header__socials {
    right: 35px;
  }
}

@media (max-width: 767px) {
  .header__socials {
    right: 35px;
  }
  .header__socials._active {
    padding-top: 0;
    opacity: 1;
    visibility: visible;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__list li {
  font-size: 18px;
  margin-bottom: 20px;
}

.socials__list li:last-child {
  margin-bottom: 0;
}

.socials__link {
  color: #808080;
}

.main {
  background: url("../img/main-bg.jpg") center/cover no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__box {
  text-align: center;
}

.main__title {
  margin-bottom: 44px;
}

@media (max-width: 767px) {
  .main__title {
    margin-bottom: 28px;
  }
}

.introduce {
  background-color: #f6f6f6;
  padding-top: 100px;
  min-height: 100vh;
}

.introduce__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .introduce__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.introduce__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .introduce__left-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.introduce__empty {
  height: 205px;
}

@media (max-width: 1341px) {
  .introduce__empty {
    height: 105px;
  }
}

@media (max-width: 992px) {
  .introduce__empty {
    display: none;
  }
}

.introduce__pic {
  width: 100%;
  height: 100%;
}

.introduce__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .introduce__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.introduce__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 992px) {
  .introduce__right-column {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.introduce__title {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .introduce__title {
    text-align: center;
  }
}

.introduce__text {
  padding-left: 130px;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .introduce__text {
    padding: 0 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .introduce__text {
    margin-bottom: 25px;
  }
}

.introduce__up-red {
  padding-left: 130px;
}

@media (max-width: 992px) {
  .introduce__up-red {
    padding: 0 30px;
  }
}

.discover {
  background-color: #d63c37;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discover__title {
  text-align: right;
  margin-bottom: 90px;
}

.discover__subbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discover__text {
  color: #333;
  font-size: 18px;
  text-align: right;
}

.discover__head {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.discover__body {
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 36px;
}

.discover__pic {
  width: 100px;
}

.discover__pic img {
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
}

.title {
  font-family: "Caladea", serif;
  color: #333;
  font-size: 36px;
}

.title_big {
  font-size: 48px;
  font-weight: 700;
}

@media (max-width: 1400px) {
  .title_big {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .title_big {
    font-size: 30px;
  }
}

.title_red {
  color: #d63c37;
}

.title_white {
  color: #fff;
}

.title_underline {
  text-decoration: underline;
}

.text {
  color: #666;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.45px;
}

@media (max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 24px;
  }
}

.text_red {
  color: #d63c37;
}
